<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="index.php">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Use case</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="file_encoding.php">
              <i class="ti-files"></i>
              <span class="menu-title">File Encoding</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="data_encryption.php">
              <i class="ti-lock"></i>
              <span class="menu-title">Data Encryption</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="communication_encryption.php">
              <i class="ti-email"></i>
              <span class="menu-title">Communication Encryption</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="keys.php">
        <i class="icon-columns menu-icon"></i>
        <span class="menu-title">Keys</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <i class="icon-head menu-icon"></i>
        <span class="menu-title">User Pages</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="pages/samples/login.html">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/samples/register.html">Register</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>

<style>
/* Remove bullet points and adjust alignment */
.sub-menu {
  list-style-type: none;
  padding-left: 0;
}

.sub-menu .nav-item .nav-link {
  display: flex;
  align-items: center;
}

.sub-menu .nav-item .nav-link i {
  margin-right: 10px; /* Adjust the space between the icon and the text */
}
</style>
